#reset-container,
h1 {
  text-align: center;
  position: relative;
  border: 5px solid black;
}

.left {
  border: 5px solid black;
  position: relative;
  top: 150px;
  padding: 20px;
  padding-top: 10px;
}

.right {
  border: 5px solid black;
  position: relative;
  top: 150px;
  padding: 20px;
  padding-top: 10px;
}

.hide {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
